<div class="container" style="margin: 0 auto;">
    <div class="container" id="nav">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <a class="navbar-brand" href="#">Archivos</a>
              <button class="navbar-toggler" type="button" 
              data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <app-actions></app-actions>
        </nav>
    </div>
    <hr>
    <div class="container">
        <app-tabla></app-tabla>
    </div>
    
</div>


