<div class="collapse navbar-collapse" id="navbarNavDropdown" style="">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-primary text-light rounded" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Acciones
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="Nuevo()" href="#">Nuevo</a></li>
          <li><a class="dropdown-item" (click)="Borrar()" href="#">Borrar</a></li>
        </ul>
      </li>
    </ul>
  </div>
